.AnimateContainer {
  margin: 10vh 0 0 0;
  padding: 0;
  width: auto;
  background-color: rgb(192, 192, 192);
  z-index: 1;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.btnAnimate {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.btnAnimate div:nth-child(n){
  margin: 40px;
}





/* Animation for Button00 */



.btn00 {  
  color:rgb(255, 255, 255);
  background-color: transparent;
  padding: 18px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: steelblue 3px solid;
  overflow: hidden;
  z-index: 0;
}

.btn00::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100px;
  height: 200px;
  width: 300px;
  z-index: -1;
  background: steelblue;
  border-radius: 50%;
  transform: translateY(-200px) translateX(60px);
  transition: 0.5s;
}

.btn00:hover::before {
  transform: translateY(-50px) translateX(60px);
}

/* Button00END */

/* Animation for Button01 */

.btn01 {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  border: blanchedalmond 3px solid;
  font-size: 20px;
  position: relative;
}

.btn01:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(4, 46, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ;
}

.btn01:hover:before {
  left: 100%;
  opacity: 0;
  transform: rotateY(360deg) scale(0);
}

.btn01:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(4, 46, 94);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: 0.5s ;
  transform: scale(0);
}

.btn01:hover:after {
  left: 0;
  opacity: 1;
  transform: scale(1) rotateY(360deg);
}




/* Button01 END */


/* Button02 Animation */




.btn02 {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  font-size: 20px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}


.btn02:before, 
.btn02:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 10%;
  height: 20px;
  background-color: rgb(55, 170, 185);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}

.btn02:before {
  left: 0;
  box-shadow: -100px 0 0 rgb(55, 170, 185);
}

.btn02:after {
  right: 0;
  box-shadow: 100px 0 0 rgb(55, 170, 185);
}

.btn02:hover:before {
  left: 45%;
  box-shadow: 30px 0 0 rgb(55, 170, 185);
  opacity: 1;
}

.btn02:hover::after {
  right: 45%;
  box-shadow: -30px 0 0 rgb(55, 170, 185);
  opacity: 1;
}

.btn02 span{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(55, 170, 185);
  border-radius: 8px;
  transform: scale(0);
  transition: 0.3s;
  z-index: -1;
}

.btn02:hover span {
  transform: scale(0.85);
  transition-delay: 0.3s;
}

.btn02:hover {
  color: rgb(255, 255, 255);
}


/* End of Btn02 */

/* Start of Btn03 */

.btn03 {
  text-decoration: none;
  text-transform: uppercase;
  width: 60px;
  color: azure;
  text-align: center;
  letter-spacing: 5px;
  position: relative;
  transition: 0.4s;
  z-index: 1;
  margin: 60px;
}

.btn03:before,
.btn03:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 160px;
  z-index: -1;
}

.btn03:before {
  top: -15px;
  left: -20px;
  background-color: rgb(18, 90, 134);
  opacity: 0.8;
  transition: 0.3s;
}

.btn03:after {
  top: -5px;
  left: -10px;
  background-color: rgb(238, 113, 113, 0.6);
  opacity: 0.8;
  z-index: -1;
  transition: 0.3s;
}

.btn03:hover:before{
  top: -40px;
  left: -20px;
  transform: perspective(100px) rotateX(70deg);
}

.btn03:hover:after{
  top: 10px;
  background-color: rgb(238, 113, 113, 1);
  left: -20px;
  transform: perspective(100px) rotateX(-70deg);
}

.btn03:hover {
  color: black;
}




/* End of Btn03 */



/* Start of Btn04 */

.btn04 {
  width: 160px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: white;

}

.btn04:before {
  content: '';
  position: absolute;
  top: -7%;
  left: -3%;
  width: 35%;
  height: 3px;
  background-color: black;
  transition: 0.7s;
}

.btn04:after {
  content: '';
  position: absolute;
  top: -5%;
  left: -3%;
  width: 2px;
  height: 40%;
  background-color: black;
  transition: 0.7s;
}

.btn04:hover:before {
  width: 95%;
}
.btn04:hover:after {
  height: 95%;
}

.btn04 span{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn04 span:before {
  content: '';
  position: absolute;
  bottom: -5px;
  right: -4px;
  width: 35%;
  height: 3px;
  background-color: rgb(255, 0, 0);
  transition: 0.7s;
}

.btn04 span:after {
  content: '';
  position: absolute;
  top: 55%;
  left: 101%;
  width: 3px;
  height: 50%;
  background-color: rgb(255, 0, 0);
  transition: 0.7s;
}

.btn04 span:hover:before {
  width: 96%;
}

.btn04 span:hover:after {
  height: 95%;
  top: 8%;
}




/* End of Btn04 */


/* Start of btn05 */


.btn05 {
  font-size: 18px;
  height: 70px;
  width: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3em;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
  overflow: hidden;
}

.btn05 span {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.btn05:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn05:after {
  content: '';
  position: absolute;
  top: 98%;
  left: 100%;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.btn05:hover:before {
  left: 0;
}
.btn05:hover:after {
  left: 0;
}

.btn05 span:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 1.5px;
  height: 100%;   
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn05 span:hover:before {
  top: 0;
}

.btn05 span:after {
  content: "";
  position: absolute;
  top: -100%;
  left: 99%;
  width: 3px;
  height: 100%;   
  background-color: white;
  transition: 0.3s;
}

.btn05 span:hover:after {
  top: 0;
}

/* End of btn05 */



/* *************************** */


/* Start of #btn06 */


#btn06 {
  color: rgb(255, 255, 255);
  width: 240px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  letter-spacing: 0.3em;
}

#btn06:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 3px;
  width: 100%;
  height: 1px;
  background-color: red;
  transition: 0.5s;
}

#btn06:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 12%;
  width: 1px;
  height: 100%;
  background-color: red;
  transition: 0.5s;
}

#btn06span {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
}

#btn06span:before {
  content: '';
  position: absolute;
  top: 60px;
  left: 3px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 174, 0);
  transition: 0.5s;
}

#btn06span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 200px;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 174, 0);
  transition: 0.5s;
}

#btn06span:hover:before {
  top: 20px;
  left: 3px;
  height: 1px;
}

#btn06span:hover:after {
  top: 0px;
  left: 30px;
  width: 1px;
  height: 100%;
}
#btn06:hover:before {
  top: 60px;
  left: 3px;
  width: 100%;
  height: 1px;
}

#btn06:hover:after {
  top: 0;
  left: 220px;
  width: 1px;
  height: 100%;
}


/* End of btn06 */



/* Start of btn07 */

.btn07 {
  color: white;
  font-size: 20px;
  letter-spacing: 0.2em;
  font-family: sans-serif;
  height: 80px;
  width: 180px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.btn07:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  background: coral;
  transform: skewX(20deg);
  z-index: -1;
  transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
}
.btn07:after {
  content: '';
  position: absolute;
  top: 20%;
  left: 52%;
  width: 50%;
  height: 80%;
  background: plum;
  transform: skewX(20deg);
  z-index: -1;
  transition: 0.3s cubic-bezier(.47,1.08,.21,1.27);
}

.btn07:hover:before {
  transform: skewX(0);
  left: 50%;
  top: 10%;
}
.btn07:hover:after {
  transform: skewX(0);
  left: 0;
  top: 10%;
}



@media only screen and (min-width: 700px)  {
  .btnAnimate {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}