.PfcardCntnr {
  width: 80%;
  padding: 50px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: rgb(18, 129, 149);
  border-radius: 20px;
  transform: perspective(100px) translateZ(0px);
  transition: all  0.23s;
  position: relative;
}

.PfcardCntnr:hover {
  box-shadow: 0px 12px 4px  rgb(0, 0, 0);
  transform: perspective(80px) translateZ(1.5px) translateY(-12px);
}
.PfcardCntnr h1 {
  text-transform: capitalize;
  color: White;
  padding: 0 0 30px 0;
}

.Pcontent {
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 11px;
  border-radius: 20px;
  transition: 0.35s;
  border: 0px;
}

button:hover {
  transform: translateY(-7px);
  background-color: rgb(255, 248, 153);
  color: rgb(145, 143, 133);
  box-shadow: 0px 6px 6px  rgb(255, 255, 255);
}
