.MobNavCntnr {         /* Container for Mobile Menu */
  height: 140px;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 4;
}

.hamburger {            /* Hamburger Container */
  width: 50px;
  height: 30px;
  position: absolute;
  right: 3%;
  top: 30%;
  margin: 0;
  padding: 0;
  z-index: 4;
}

.hamburger span:nth-child(n){
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(168, 168, 168);
}
.hamburger span:nth-child(2){
  top: 11px;
}
.hamburger span:nth-child(3){
  top: 23px;
  width: 60%;
  right: 0;
}

.Menu {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.Menu:before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  z-index: -1;
}

.Menu li {
  font-size: 60px;
  list-style: none;
  margin: 40px 0;
}

.Menu li a {
  color: aliceblue;
  text-decoration: none;
}


@media only screen and (min-width: 800px) {
  .MobNavCntnr{
    display: none;
  }
}