.MobNavCntnr {
  height: 140px;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 4;
}

.hamburger {
  width: 50px;
  height: 30px;
  position: absolute;
  right: 3%;
  top: 30%;
  margin: 0;
  padding: 0;
  z-index: 4;
}

.hamburger span:nth-child(n){
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(168, 168, 168);
}
.hamburger span:nth-child(2){
  top: 11px;
}
.hamburger span:nth-child(3){
  top: 23px;
  width: 60%;
  right: 0;
}
