.ftCntnr {
  padding: 50px 0 0 0;
  width: 100%;
  min-height: 60vh;
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 67%, rgba(255,255,255,1) 100%); */
  background-color: black;
  color: azure;
}

.ftCntnt {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom bottom;
  width: auto;
}

.smediaBtn {
  padding: 20px 0;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.smIcon {
  background-size: cover;
  background-position: center;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background size for github */
.smIcon:nth-child(2){
  border-radius: 60px;
  background-size: auto 103%;
  background-color: white;
}

.ftInfo {
  width: 80%;
  margin: 0 auto;
}

.ftInfo p {
  font-size: 24px;
}

.footerLogo {
  display: none;
}

@media only screen and (min-width: 700px) {
  .smediaBtn  {
    width: 60%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 900px) {
  .contactInfo {
    margin: 115px 100px 0 0;
  }
  .ftInfo {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }
  .footerLogo {
    display: block;
    height: 200px;
    width:  auto;
    margin: 60px 0 0 40px;
  }
}
@media only screen and (min-width: 1000px) {
  .smediaBtn  {
    width: 50%;
  }
}

@media only screen and (min-width: 1250px) {
  .contactInfo {
    margin: 100px 0 0 100px;
  }
  .ftInfo {
    width: 80%;
    margin: 0 auto;
    background: rgb(0, 0, 0);
  }

}
@media only screen and (min-width: 1600px) {
  .contactInfo {
    margin: 100px 0 0 250px;
  }
  .ftInfo {
    width: 80%;
    margin: 0 auto;
    background: rgb(0, 0, 0);
  }

}