.ftCntnr {
  padding: 50px 0 0 0;
  width: 100%;
  min-height: 60vh;
  background-color: black;
}

.ftCntnt {
  width: 80%;
  background: rgb(235, 235, 235);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-end;
}

.smediaBtn {
  padding: 20px 0;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.smIcon {
  background-size: cover;
  background-position: center;
  width: 90px;
  height: 90px;
}

.ftInfo {
  height: 40vh;
  margin: 10%;
}

.ftInfo p {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}