.Banner {
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.textContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.textContainer h1 {
  margin: 50px 0 40px 0;
}

.textContainer p {
  width: 80%;
}

.contentContainer {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,35,66,1) 18%);
  color: white;
}
.iconContainer {
  min-height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoBox {
  height: 200px;
  width: 50%;
  margin: 25px 0 50px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 25px 0;
}

.btn {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (min-width: 650px) {
  .textContainer {
    padding: 60px 0;
  }

  .iconContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logoBox {
    width: 30%;
  }

  .btn {
    width: 100%;
    display: flex;
    flex-flow: row;
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {

  .textContainer {
    padding: 100px 0;
  }
  .textContainer h1 {
    margin: 35px 0 60px 0;
  } 

  .iconContainer, .btn {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .logoBox {
    width: 25%;
  }

  .btn {
    padding: 40px;
    display: flex;
    flex-flow: row;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .logoBox {
    width: 20%;
  }
  .textContainer {
    margin: 0 auto;
    width: 80%;
  }

  .btn {
    padding: 80px;
  }
}
