.Hcntr {
  background: rgb(30, 30, 80);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,30,80,1) 20%);
}

.Banner {
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.Banner span {
  font-size: 60px;
  color: azure;
}

.HomeContent {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: 600px) {
  .HomeContent {
    flex-flow: row;
    flex-wrap: wrap;
  }
}