.Pcntr {
  background: rgb(19, 86, 103);
  
}

.Banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 43% bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.Banner span {
  font-size: 60px;
  color: azure;
}

.Pcontent {
  min-height: 100vh;
}