.menubar {
  display: none;
}
.shrinkMenu {
  display: none;
}


ul li {
  width: 80%;
  list-style: none;
}

@media only screen and (min-width: 800px) {
  .menubar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    background: rgb(255, 255, 255);
    position: fixed;
    font-size: 24px;
    z-index: 10;
    transition: 1s;
  }
  
  .logo {
    height: 55px;
    width: auto;
    margin: auto 0;
  }
  
   ul {
    display: flex;
    width: 80%;
    margin-right: 50px;
    justify-content: space-around;
    align-items: center;
  }

  ul li {
    width: 100%;
  }

   a {
    text-decoration: none;
    margin: 0;
  }

  .shrinkMenu {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    background: rgb(255, 255, 255);
    position: fixed;
    font-size: 18px;z-index: 10;
    transition: 0.5s;
  }

  .shrinkMenu:hover {
    height: 10vh;
  }

}

@media only screen and (min-width: 1000px) {
  .menubar {
    justify-content: space-between;
  }
  .shrinkMenu {
    justify-content: space-between;
  }
  ul {
    width: 30%;
    margin-right: 50px;
  }

  .logo {
    margin-left: 60px;
  }
}


@media only screen and (min-width: 1920px) {
  .menubar {width: 1920px;}
}